* {
  box-sizing: border-box;
  padding: 0rem;
  margin: 0rem;
}

body {
  background-color: #161616;
  color: #fcfcfc;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  padding: 10rem;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 5rem;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links-item {
  padding: 0rem 1rem;
  border: 0rem transparent;
}

.links-item:hover {
  border: 1rem #fcfcfc;
}

#logo {
  padding-right: 3rem;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  font-weight: bold;
}

ul {
  list-style-type: none;
  display: flex;
}

img {
  width: 25vh;
}
